html {
    box-sizing: border-box;
}

/* Основные цвета #212121, #757575 /
/* Цвета логотипа #2196F3, #000000, #ffffff */
/* акцент #2196F3 */

:root {
    --praymare-text-color: #757575;
    --title-text-color: #212121;
    --logo-akcent-color: #2196F3;
    --praymary-background-color: #FFFFFF;
    --button-background-color: #F5F4FA;
}
body {
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
    background: #FFFFFF;
    color:var(--praymare-text-color);

}

h2,
h3,
h4,
ul,
p {
    margin: 0;

}


.container {

    width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* скрыть h2 Переваги компанії */
.benefits {
    color: transparent;
    width: 0;
    height: 0;
    margin: 0%;
}



/* Убираем подчёркивание */
.site-nav,
.header-contacts,
.portfolio-buttons,
.examples-img,
.contacts-footer,
.main-benefits,
.main-work,
.team {
    list-style: none;
}

nav a,
footer a,
.examples-img a,
.header-contacts a {
    text-decoration: none;
}


/* зміна кольору при наведенні курсору */
.header-contacts a:hover,
.header-contacts a:focus,
.header-contacts a:active,
.header-contacts .current,
.site-nav a:hover,
.site-nav a:focus, 
.site-nav a:active,
.site-nav .current {
    color: var(--logo-akcent-color);
}

/* шапка, навигация */
/* підсвітка поточної сторінки */
.container.secondery {
    padding: 0;
    width: 1600px;

}

.header-contacts .scrol-contacts:nth-child(1) {
    margin-right: 50px;
}
.site-nav li {
    padding: 32px 0;
}
.scrol {
    display: block;
}
.header-contacts {
    align-items: center;
    margin-left: auto;
}
.header-contacts li {
    padding-left: 0;
}
.scrol:not(:last-child) {
    margin-right: 50px;
}

.container.praymery {
    width: 1600px;
    padding-left: 215px;
    padding-right: 215px;
}
.praymery {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}

.scrol,
.header-contacts,
.general-nav  {
    display: flex;
}


.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 50px;

    font-family: Raleway, cursive;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-web {
    font-family: Raleway, cursive;
    color: var(--logo-akcent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.nav li,
.header-contacts li,
.header-contacts {
    padding-left: 0;
}
.site-nav.general-nav {
    padding-left: 0;
}
.site-nav a{
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
}
.contact-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--praymare-text-color);
}

/* головна частина */
.container.secondary {
    width: 1600px;
}

.title-section {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
   

}
.title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--praymary-background-color);
}
.button-title {
    border: none;
    padding: 10px 32px;
    cursor: pointer;
    min-width: 152px;
    
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:var(--praymary-background-color);
    background: #2196F3;
   }

/* переваги */

.container.third {
    padding-top: 0;
    padding-bottom: 0;
}

.titl-benefits {
    margin-bottom: 10px;

    width: 270px;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-transform: uppercase;
}
.main-benefits li:not(:last-child) {
    margin-right: 30px;
}

.main-benefits {
    padding-left: 0;
    display: flex;
}


/* діяльність */
.main-work li:not(:last-child) {
    margin-right: 30px;
}

.main-work {
    display: flex;
    padding-left: 0;
   
}

.img-work {
    margin-bottom: 0;
}

.descr-benefits {
    width: 270px;
    font-size: 14px;
    line-height: 1.7;

   
}

/* команда */

.team li:not(:last-child) {
    margin-right: 30px;
}

.team {
    display: flex;
    padding-left: 0%;
}

.conteiner-team {
    display: inline-block;
    padding-top: 94px;
}

.titl-main {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.descr-job {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}

.titl-name {
    margin-top: 30px;
    min-width: 104px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:var(--title-text-color) #212121;
    
}

/* портфолио button */
.examples-img li {
    border-bottom: 1px solid #EEEEEE;
}

.examples-img {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: 13.3%;
}

.button {
    border: none;
}

.portfolio-buttons {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.portfolio-buttons li:not(:last-child) {
    margin-right: 8px;
}

.titl-portfolio {
    margin-bottom: 4px;
    min-width: 322px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

}

.img-portfolio {
    margin-bottom: 20px;
    margin-right: 0;
    display: block;
    /* border: 1px solid tomato; */
}


.button {
    box-sizing: border-box;
}

.btn {
    margin-bottom: 50px;
    width: 1200px;
    display: inline-block;
    text-align: center;
}

.all {
    width: 73px;
}
.web {
    width: 125px;

}

.applications {
    width: 112px;

}

.design {
    width: 103px;

}

.marketing {
    width: 130px;

} 

.button.examples {
    padding: 6px 22px;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: var(--button-background-color);
    color: var(--title-text-color);
    
}
.button.examples:hover,
.button.examples:focus {
    background: var(--logo-akcent-color);
    border-radius: 4px;
    color: var(--praymary-background-color);
}


.descr-type {
    min-width: 322px;

    color: var(--praymare-text-color);
    font-size: 16px;
    line-height: 1.88;
    /* border: 1px solid tomato; */
    
}

.example {
    font-size: 24px;
    color: var(--title-text-color);
    font-style: italic;

}

.example-deskr {
    font-style: initial;
}

/* футер */
.container.last {
    padding-top: 0;
    padding-bottom: 0;
    width: 1600px;
}

.contact-footer {

    ngmin-width: 231px;
    margin-bottom: 9px;
    padding-left: 0;
    margin-left: 215px;
    color: rgba(255, 255, 255, 0.6);

}

.contacts-footer {
    padding-left: 0;
} 

.contact-descr {
    min-width: 231px;
    padding-left: 215px;
    margin-bottom: 9px;
}

.footer-general {
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    background: #2F303A;
}

.contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--praymary-background-color);

}

.logo-footer {
    margin-bottom: 20px;
    margin-left: 215px;
    display: block;
    padding-top: 60px;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: Raleway, cursive;
    color: var(--praymary-background-color);
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--logo-akcent-color);
}





